<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(
                  ~{::content},'Login Page',~{::scripts})}">

  <div th:fragment="content">
    <!---->
    <div th:replace="~{fragments/auth::auth(
         title='Login',
         action='/login',
         retype=false )}">
    </div>
    <!---->
  </div>

  <div th:fragment="scripts"></div>

</html>
<!--------------------------------------------------------------
--------------------------------------------------------------->
