<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(
                  ~{::content},'Register Page',~{::scripts})}">

  <div th:fragment="content">
    <!---->
    <div th:replace="~{fragments/auth::auth(
         title='Register',
         action='/register',
         retype=true)}">
    </div>
    <!---->
  </div>

  <div th:fragment="scripts"></div>

</html>
<!--------------------------------------------------------------
<!-- #######################################################
     #######################################################
     1. F i n d the greatest common divisors. You should b e
     able to do parts (a)-(c) b y hand, but technology is OK
     for the rest.
     (a) (56,72) = 8    (e) (306,657) = 9  
     (b) (24,138) = 6   (f) (272,1479) = 17   
     (c) (112,57) = 1   (g) (4144,7696) = 592
     (d) (143,231) = 11 (h) (12378,3054) = 6
     #######################################################
     2. P  r  o  v  e that b|a if a n d o  n  l  y if (-b)|a
     => if b|a, then a = bc, w h e r e c is some integer, so
     a = (-b)(-c), and (-b)|a                              «
     <= if (-b)|a, then a = (-b)c, for an integer c, t h e n
     a = b(-c), and b|a                                    «
     #######################################################
     #######################################################
     #######################################################
     #######################################################
     天気 weather (てん き)
     ######################   ##############################
     ###                ### h ####  ########################
     ###@@@@@@    ======### e ###  __________________#######
     ###@@@@@@    ======### a ##__@@@@@@@@@\\\\\\\\\\#######
     ###                ### v ###____________________##   ##
     ###\\\\\\    ######### e ###@@@@@@@@@@\\\\\\\\\\## s ##
     ###\\\\\      ######## n ###______________    __## p ##
     ###\\\    \#    ######   ###   ,   ,   ||||  |||## i ##
     ###    \\\\####    ######### ,` `,` `, ||||  |||## r ##
     ############################  `,   ,`  ||||  |||## i ##
     ############################ ,`  ,  `, ||||  |||## t ##
     ############################  `,` `,`  |||||  ||##   ##
     ##################################################   ## -->
<!------------------------------------------------------------->
