<head th:fragment="head( title )">
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<!-----------------------------------------------------------
    ---------------------------------------------------------
    14. Find t h e smallest positive integer in the given set.
    (a) { 6u + 15v | u,v ∈ Z }
    W h a t are the divisors of 0? B y definition f divides n:
    f|n, if n = fz for some z ∈ Z, so 10|0 bcoz 0 = 10*0, and
    0 has divisors as large as we would like, that is why the
    greatest common divisor (a,b) is defined only for a and b
    that are not b o t h zero, i f n ≠ 0, n has finitely many
    divisors w i t h (n,0) = |n|. Theorem 2 states that (a,b)
    c a n be represented as a linear combination of a a n d b
    that is: 0 ≤ (a,b) = au + bv, for s o m e not necessarily
    unique integers u and v, b c o z (a,b) defines a plane in
    the u,v space. The interesting thing which is part of the
    p r o o f of the theorem  is t h a t if we take t h e set:
    { au + bv | u,v ∈ Z } such that au + bv i s positive, the
    minimum value of this set is (a,b). So this is the answer
    here: (6,15) = 3
    (b) { 12r + 17s | r,s ∈ Z }
    By the way this mistirious t h e o r e m is from the book 
    Abstract Algebra: An Introduction, here again (12,17) = 1
    ---------------------------------------------------------
    ----------------------------------------------------------->
