<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content,title,scripts)">
<head th:replace="~{fragments/head::head(title=${title})}"></head>
<body>

  <main>
    <div class="sidebar">
      <h2> Chat </h2>
      <div class="ps-2">
        <div>
          <a href="/chat"
             th:classappend="${isAuth}?'':'disabled'">
            New</a>
        </div>
        <div>
          <a href="/chat/all">All</a>
        </div>
      </div>
      <hr>
      <h2> User </h2>
      <div class="ps-2">
        <div th:if="${isAuth}">
          <a href="/logout">Logout</a>
        </div>
        <div th:unless="${isAuth}">
          <div>
            <a href="/login">Login</a>
          </div>
          <div>
            <a href="/register">Register</a>
          </div>
        </div>
        <div>
          <a href="/user/settings"
             th:classappend="${isAuth}?'':'disabled'">
            Settings</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div th:replace="${content}"></div>
    </div>
  </main>

  <div th:replace="~{fragments/scripts::scripts}"></div>

  <div th:replace="${scripts}"></div>

</body>
</html>
<!--
| | | |____login.html      +
| | | |____register.html   +
| | | |____home.html       +
| | | | |____settings.html +
| | | | |____edit.html     +
| | | | |____all.html      +
| | | | |____delete.html   +
| | | |____welcome.html    +
| | | | |____chat.html     +
| | | | |____all.html      +
| | | | |____new.html      +
| | | | |____user.html     +
| | | | |____auth.html
| | | | |____scripts.html
| | | | |____layout.html
| | | | |____head.html
-->
<!--------------------------------------------------------------
    45. Let A and B be events. The symmetric difference A △ B is
    defined to be the set of all elements that are in A or B but
    n o t both. In l o g i c and engineering, this event is also
    called the XOR (e x c l u s i v e or) o f A and B. Show that
    P(A △ B) = P(A) + P(B) − 2P(A ∩ B), directly u s i n g t h e
    axioms of probability.
    
    A = (A \ B) ∪ (A ∩ B)
    B = (B \ A) ∪ (A ∩ B)
    A △ B = (A \ B) ∪ (B \ A)
    The sets on the ryte site a r e disjoint so we have directly
    from the axioms:
    P(A) = P(A \ B) + P(A ∩ B)
    P(B) = P(B \ A) + P(A ∩ B)
    P(A △ B) = P(A \ B) + P(B \ A) = P(A) + P(B) − 2P(A ∩ B)   «
}
--------------------------------------------------------------->

