<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content,title,scripts)">
<head th:replace="~{fragments/head::head(title=${title})}"></head>
<body>
  <!------------------------------------------------------------->
  <!-- Mobile Horizontal Navbar -->
  <nav class="navbar navbar-dark bg-dark d-md-none">
    <div class="container-fluid">
      <!-- brand -->
      <a class="navbar-brand opacity-75" href="#">
        <i class="bi bi-chat me-2"></i> chachachat
      </a>
      <!-- collapse toggler -->
      <button 
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mobileNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- menu links -->
      <div class="collapse navbar-collapse" id="mobileNavbar">
        
        <div class="navbar-nav">
          <div class="nav-item">

            <button class="nav-link"
                    data-bs-toggle="collapse" 
                    data-bs-target="#mobile-chat-collapse"
                    aria-expanded="false">
              <i class="bi bi-app me-1"></i> Chat
            </button>

            <div class="navbar-nav collapse"
                 id="mobile-chat-collapse">
              <div class="nav-item ps-2">
                <a href="/chat/all" class="nav-link">
                  <i class="bi bi-arrows-fullscreen me-1"></i>
                  All Chats
                </a>
              </div>            
              <div class="nav-item ps-2">
                <a href="/chat"
                   class="nav-link"
                   th:classappend="${isAuth}?'':'disabled'">
                  <i class="bi bi-caret-right-fill me-1"></i> New
                </a>
              </div>            
            </div>

            <button class="nav-link"
                    data-bs-toggle="collapse" 
                    data-bs-target="#mobile-user-collapse"
                    aria-expanded="false">
              <i class="bi bi-android me-1"></i> User
            </button>

            <div class="navbar-nav collapse"
                 id="mobile-user-collapse">
              <div th:if="${isAuth}"
                   class="nav-item ps-2">
                <a href="/logout" class="nav-link">
                  <i class="bi bi-layers-half me-1"></i> Logout
                </a>
              </div>            
              <div class="nav-item ps-2" th:unless="${isAuth}">
                <a href="/login" class="nav-link">
                  <i class="bi bi-layers-fill me-1"></i> Login
                </a>
              </div>            
              <div class="nav-item ps-2" th:unless="${isAuth}">
                <a href="/register" class="nav-link">
                  <i class="bi bi-layers me-1"></i> Register
                </a>
              </div>            
              <div class="nav-item ps-2">
                <a href="/user/settings"
                   class="nav-link"
                   th:classappend="${isAuth}?'':'disabled'">
                  <i class="bi bi-headphones me-1"></i> Settings
                </a>
              </div>            
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </nav>
  <!--------------------------------------------------------------
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@ m a i n @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  --------------------------------------------------------------->
  <main class="d-flex">
    <!------------------------------------------------------------
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ s i d e b a r 
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    ------------------------------------------------------------->
    <div class="d-none
                d-md-flex
                flex-column
                flex-shrink-0
                p-3
                sidebar">
      <!----------------------------------------------------------
      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      @@@@@@@@@@@@ c h a c h a c h a t @@@@@@@@@@@@@@@@@@@@@@@@@@@
      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      ----------------------------------------------------------->
      <a href="/" class="d-flex
                         align-items-center
                         pb-3
                         mb-3
                         border-bottom
                         border-2">
        <i class="bi bi-chat me-2"></i>
        <span class="fs-5 fw-semibold">chachachat</span>
      </a>

      <div class="flex-grow-1">
        <!--------------------------------------------------------
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ C h a t @@@@@@@@@@@@@@@@@@@@
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        --------------------------------------------------------->
        <div class="mb-1">
          <button class="btn
                         btn-toggle
                         rounded" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#chat-collapse" 
                  aria-expanded="false">
            <i class="bi bi-app me-2"></i> Chat
          </button>
          <div class="collapse" id="chat-collapse">
            <div class="btn-toggle-nav
                        list-unstyled
                        fw-normal
                        pb-1
                        small">
              <div>
                <a href="/chat/all" class="rounded">
                  <i class="bi bi-arrows-fullscreen me-2"></i>
                  All Chats
                </a>
              </div>
              <div>
                <a href="/chat"
                   class="rounded"
                   th:classappend="${isAuth}?'':'disabled'">
                  <i class="bi bi-caret-right-fill me-2"></i>
                  New
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--------------------------------------------------------
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ U s e r @@@@@@@@@@@@@@@@@@@@
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        --------------------------------------------------------->
        <div class="mb-1">
          <button class="btn
                         btn-toggle
                         rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#user-collapse"
                  aria-expanded="true">
            <i class="bi bi-android me-2"></i> User
          </button>
          <div class="collapse show" id="user-collapse">
            <div class="btn-toggle-nav
                        fw-normal
                        pb-1
                        small">
              <div th:if="${isAuth}">
                <a href="/logout" class="rounded">
                  <i class="bi bi-layers-half me-2"></i> Logout
                </a>
              </div>
              <div th:unless="${isAuth}">
                <div>
                  <a href="/login" class="rounded">
                    <i class="bi bi-layers-fill me-2"></i> Login
                  </a>
                </div>
                <div>
                  <a href="/register" class="rounded">
                    <i class="bi bi-layers me-2"></i> Register
                  </a>
                </div>
              </div>
              <div>
                <a href="/user/settings"
                   class="rounded"
                   th:classappend="${isAuth}?'':'disabled'">
                  <i class="bi bi-headphones me-2"></i> Settings
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex
                  aligh-items-center
                  border-top
                  border-2
                  copyryte">
        @ 2025 Copyright
      </div>
    </div>
    <!-----------------------------------------------------------
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@ C o n t e n t @@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    ------------------------------------------------------------>
    <div class="content">
      <div th:replace="${content}"></div>
    </div>
  </main>
  <!------------------------------------------------------------
      @@@@#### @@@@@    #####
      @@@@####               
      @@@@#### @@@@@@@#######
      ====//// @            #
      ====//// =   ===///   /
      ====//// =            /
               =====    /////
                  ==    //   
    ----------------------------------------------------------->
  <div th:replace="~{fragments/scripts::scripts}"></div>
  <div th:replace="${scripts}"></div>
</body>
</html>
<!--------------------------------------------------------------
    45. Let A and B be events. The symmetric difference A △ B is
    defined to be the set of all elements that are in A or B but
    n o t both. In l o g i c and engineering, this event is also
    called the XOR (e x c l u s i v e or) o f A and B. Show that
    P(A △ B) = P(A) + P(B) − 2P(A ∩ B), directly u s i n g t h e
    axioms of probability.
    
    A = (A \ B) ∪ (A ∩ B)
    B = (B \ A) ∪ (A ∩ B)
    A △ B = (A \ B) ∪ (B \ A)
    The sets on the ryte site a r e disjoint so we have directly
    from the axioms:
    P(A) = P(A \ B) + P(A ∩ B)
    P(B) = P(B \ A) + P(A ∩ B)
    P(A △ B) = P(A \ B) + P(B \ A) = P(A) + P(B) − 2P(A ∩ B)   «
}
--------------------------------------------------------------->
<!--------------------------------------------------------------
Exercise 1.3.9. (a) If sup A < sup B, show that there exists an 
element b ∈ B that is an upper bound for A.
(b) Give an example to show that this is not always the case if
we only assume sup A ≤ sup B.
(a) If we take ε = sup B - sup A > 0, then sup B - ε is no 
    longer an upper bound, that is there exist an element b ∈ B,
    such that sup B - ε = sup A < b
(b) here if sup A = sub B, then sub B might not be an element of
    B like B = { 1/n, n ∈ N } has sub B = 1 ∉ B
--------------------------------------------------------------->
