:root {
    --body-bgr: hsl( 15, 40%, 25% );
    --body-fgr: hsl( 202, 13%, 20% );
}
html,body {
    height: 100%;
}
html, body, a, ul, li, input, button {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var( --body-bgr );
    color: var( --body-fgr );
}
input, button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
/* ////////////////////////////////////////////////////////// */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
 ##########################################################   
   ########[ con ]###########################################
   ########################################################## */
.con {
    height: 100%;
    display: grid;
    grid-template-columns: repeat( 8, 1fr );
    grid-template-rows: repeat( 8, 1fr );
}
/* ##########################################################   
   ########[ select-con ]####################################
   ########################################################## */
.select-con {
    grid-row: 2;
    grid-column: 2/4;
    background: hsl( 240,50%,50% );
}
/* ##########################################################   
   ########[ select-group ]##################################
   ########################################################## */
.select-group {
    display: flex;
    flex-direction: column;
}
/* ##########################################################   
   ########[ select-user ]###################################
   ########################################################## */
#select-user {
    margin-top: 0.2rem;
    padding: 0.1rem;
}
/* ##########################################################   
   ########[ form-con ]######################################
   ########################################################## */
.form-con {
    background: hsl(340,40%,20%);
    grid-row: 7;
    grid-column: 4/8;
}
.form-con > form {
    background: red;
    height: 2.4rem;
    width: 90%;
    display: flex;
}
.form-con > form > input {
    height: 100%;
    width: 80%;
    background: hsl(15,40%,40%);
    padding-left: 0.5rem;
    color: hsl(10,50%,90%);
    font-size: 1rem;
}
.form-con > form > button {
    cursor: pointer;
    height: 100%;
    width: 20%;
    background: hsl(20,70%,25%);
    color: hsl(200,20%,70%);
    font-size: 1rem;
}
/* ##########################################################   
   ########[ chat-con ]######################################
   ########################################################## */
.chat-con {
    grid-row: 2/7;
    grid-column: 4/8;
    background: hsl(15,15%,50%);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1rem;
}
/* ==========================================================
   <> 2.1.27*: A person of mass m₁, remaining in place, pulls
   a load of mass m₂ by a rope. The coefficient of friction
   on a horizontal plane is μ. At what minimum tension force
   of the rope will the load move from its place? At what
   angle to the horizontal plane should the rope be directed?
   ==========================================================
   ############################ It's very good that this book
   ############################ has solutions:) zo basically
   ##########          0   #### this is like a combination of
   ##########         //   #### the previous problems; like   
   ##########        // \  #### what is the angle at which we
   ##########  __   .` /|  #### pull a box so that the force 
   ########## |  |.`  / |  #### is minimal, the complication 
   ########## |  |   /   \ #### comes from the different     
   ############################ possibilities, like: if the
   ############################ mass of the box is very large
   ### then it is possible for the man to start moving while
   ### the box is still static etc. So let's write the
   ### equations which are balanced be coz we are looking for 
   ### minimal force and this implies zero acceleration:
   ##########################################################
   ##########################################################
   ###                       ## (1) Tcosθ = f₁ ≤ μN₁
   ###             A N₁      ##     N₁ = Tsinθ + m₁g
   ###             |         ## 
   ###             |         ## (2) Tcosθ = f₂ ≤ μN₂
   ###             +---> f₁  ##     N₂ + Tsinθ = m₂g
   ###    N₂      /|         ################################
   ###      A    T |         ## Let -/+ means f is less then
   ###      |   /  |         ## or greater its critical value
   ###      |  /   V m₁g     ## μN, so we have four scenarios
   ###      | T              ################################
   ###   f₂ |/ θ             ##     ¦  1  ¦  2  #############
   ###  <---+ . . . . . .    ################################
   ###      |                ## (a) ¦  -  ¦  -  #############
   ###      |                ################################
   ###      |                ## (b) ¦  -  ¦  +  #############
   ###      V m₂g            ################################
   ###                       ## (c) ¦  +  ¦  -  #############
   ##########################################################
   ############################ (d) ¦  +  ¦  +  #############
   ##########################################################
   ### In case (a) both wont moo, in (b) the person will stay
   ### still and the box will start moving with constant 
   ### velocity, in (c) the box will be still and the person 
   ### will start moving, in (d) both will move with constant
   ### velocities. So we are interested in cases (b) and (d)
   ##########################################################
   ### (b) Tcosθ = μN₂      ; Tcosθ ≤ μN₁
   ###     N₂ + Tsinθ = m₂g ; N₁ = Tsinθ + m₁g
   ##########################################################
   ### Tcosθ = μ(m₂g - Tsinθ), T(cosθ + μsinθ) = μm₂g
   ### T = μm₂g/(cosθ + μsinθ), T is minimum at tgθ = μ
   ### if we put T into the equation for 1 we'll get:
   ### Tcosθ ≤ μ(Tsinθ + m₁g), T(cosθ - μsinθ) ≤ μm₁g
   ### μm₂g(cosθ - μsinθ)/(cosθ + μsinθ) ≤ μm₁g
   ### m₂(1 - μtgθ)/(1 + μtgθ) ≤ m₁,
   ### m₂(1 - μ²)/(1 + μ²) ≤ m₁, that is the condition for
   ### m₁ being static is m₂ ≤ m₁(1 + μ²)/(1 - μ²) if this
   ### is not fulfilled f₁ will reach its critical value and
   ### the person will start rolling as well
   ### (d) Tcosθ = μN₂      ; Tcosθ = μN₁
   ###     N₂ + Tsinθ = m₂g ; N₁ = Tsinθ + m₁g
   ### T = μm₂g/(cosθ + μsinθ) = μm₁g/(cosθ - μsinθ),
   ### m₂/m₁ = (1 + μtgθ)/(1 - μtgθ),
   ### (m₂/m₁)(1 - μtgθ) = 1 + μtgθ = m₂/m₁ - μ(m₂/m₁)tgθ
   ### μtgθ(1 + m₂/m₁) = m₂/m₁ - 1;
   ### tgθ = (m₂ - m₁)/μ(m₂ + m₁), m₂ > m₁(1 + μ²)/(1 - μ²)
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ========================================================== */
