:root {
    --body-bgr: hsl( 15, 40%, 25% );
    --body-fgr: hsl( 202, 13%, 20% );
}
html,body {
    height: 100%;
}
html, body, a, ul, li, input, button {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var( --body-bgr );
    color: var( --body-fgr );
}
input, button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
/* ////////////////////////////////////////////////////////// */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ##########################################################   
   ########[ con ]###########################################
   ########################################################## */
.con {
    height: 100%;
    display: grid;
    grid-template-columns: repeat( 8, 1fr );
    grid-template-rows: repeat( 8, 1fr );
}
/* ##########################################################   
   ########[ select-con ]####################################
   ########################################################## */
.select-con {
    grid-row: 2;
    grid-column: 2/4;
    background: hsl( 240,50%,50% );
}
/* ##########################################################   
   ########[ select-group ]##################################
   ########################################################## */
.select-group {
    display: flex;
    flex-direction: column;
}
/* ##########################################################   
   ########[ select-user ]###################################
   ########################################################## */
#select-user {
    margin-top: 0.2rem;
    padding: 0.1rem;
}
/* ##########################################################   
   ########[ form-con ]######################################
   ########################################################## */
.form-con {
    background: hsl(340,40%,20%);
    grid-row: 7;
    grid-column: 4/8;
}
.form-con > form {
    background: red;
    height: 2.4rem;
    width: 90%;
    display: flex;
}
.form-con > form > input {
    height: 100%;
    width: 80%;
    background: hsl(15,40%,40%);
    padding-left: 0.5rem;
    color: hsl(10,50%,90%);
    font-size: 1rem;
}
.form-con > form > button {
    cursor: pointer;
    height: 100%;
    width: 20%;
    background: hsl(20,70%,25%);
    color: hsl(200,20%,70%);
    font-size: 1rem;
}
/* ##########################################################   
   ########[ chat-con ]######################################
   ########################################################## */
.chat-con {
    grid-row: 2/7;
    grid-column: 4/8;
    background: hsl(15,15%,50%);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1rem;
}
/* ==========================================================
   <> 2.1.27*: A person of mass m1, remaining in place, pulls
   a load of mass m2 by a rope. The coefficient of friction
   on a horizontal plane is μ. At what minimum tension force
   of the rope will the load move from its place? At what
   angle to the horizontal plane should the rope be directed?
   ==========================================================
   ##########################################################
   ##########################################################
   ##########          O   ##################################
   ##########         //   ##################################
   ##########        // \  ##################################
   ##########  __   .` /|  ##################################
   ########## |  |.`  / |  ##################################
   ########## |  |   /   \ ##################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ##########################################################
   ========================================================== */
