<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(
                  ~{::content},'Settings',~{::scripts})}">

  <div th:fragment="content">

    <div class="delete-con">
      <div class="display-5">
        Are you sure you wanna delete your account,
        <span th:text="${username}"></span>?
      </div>

      <form th:action="@{/user/delete}" method="post">
        <button type="submit"
                class="btn btn-danger me-3"
                name="confirm"
                value="yes">Yes, delete</button>
        <button type="submit"
                class="btn btn-dark me-3"
                name="confirm"
                value="no">Cancel</button>
      </form>
    </div>

  </div>
  <div th:fragment="scripts"></div>

</html>
<!--------------------------------------------------------------
--------------------------------------------------------------->
