<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(
                  ~{::content},'Settings',~{::scripts})}">

  <div th:fragment="content">
    <h2>Are you sure you want to delete your account,
      <span th:text="${username}"></span>?</h2>

    <form th:action="@{/user/delete}" method="post">
      <button type="submit"
              name="confirm"
              value="yes">Yes, delete</button>
      <button type="submit"
              name="confirm"
              value="no">Cancel</button>
    </form>

  </div>

  <div th:fragment="scripts"></div>

</html>
<!--------------------------------------------------------------
--------------------------------------------------------------->
