<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head::head( 
      title='chachachat' )}"></head>
<body>
  <h1 class="display-4" th:text="${username}">User Details</h1>
  <ul>
    <th:block th:each="chat: ${userchats}">
      <li th:text="${chat}">Chat Title</li>
    </th:block>
  </ul>
  <div th:replace="fragments/scripts::scripts"></div>
</body>
</html>
<!--------------------------------------------------------------
--------------------------------------------------------------->
