<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(
                  ~{::content},'Chats',~{::scripts})}">

  <div th:fragment="content">

    <div class="all-chats-con">
      <div class="all-chats-cabinet">
        <div class="all-chats-cabinet-drawer
                    all-chats-cabinet-top">
          All Chats
        </div>

        <th:block th:each="chat,iStat:${chats}">
          <div class="all-chats-cabinet-drawer
                      all-chats-cabinet-mid">
            <div class="all-chats-chat">
              <a th:href="@{'/chat/' + ${chat.chatname}}"
                 th:text="${chat.chatname}"
                 th:classappend="${isAuth}?'':'disabled'">
              </a>
            </div>
            <div class="all-chats-users">
              <th:block th:each="user:${chatusers[iStat.index]}">
                <div class="all-chats-user">
                  <a th:href="@{'/chat/user/' + ${user}}" 
                     th:text="${user}"></a>
                </div>
              </th:block>
            </div>
          </div>
        </th:block>

        <div class="all-chats-cabinet-drawer
                    all-chats-cabinet-bot">
        </div>
      </div>
    </div>

  </div>

  <div th:fragment="scripts"></div>

</html>
<!--------------------------------------------------------------
--------------------------------------------------------------->
