<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(
                  ~{::content},'UserChats',~{::scripts})}">

  <div th:fragment="content">
    <!---->
    <div class="user-chats-con">
      <div class="user-chats">
        <div class="user-chats-top"
             th:text="${name + ' chats'}">
        </div>
        <div class="user-chats-mid"
             th:each="chat:${chats}"
             th:text="${chat}">
        </div>
        <div class="user-chats-bot">
          <a href="/chat/all" class="btn btn-dark me-3">
            Back
          </a>
        </div>
      </div>
    </div>
    <!---->
  </div>

  <div th:fragment="scripts"></div>

</html>
<!--------------------------------------------------------------
--------------------------------------------------------------->
